h1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    font-style: normal;
        
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: left;

    font-size: 21px;
    
    border: 5px solid rgba(0, 0, 0, 0);

    padding: 1px;
    
    margin: 0 auto;

}

#receita {
    text-align: left;

    font-family: Arial, Helvetica, sans-serif;
    
    width: 500px;

    border: 3px solid rgb(190, 155, 39);
    
    padding-left: 30px;

    padding-right: 30px;
    
}

#imgR {
    width: 680px;

    font-family: Arial, Helvetica, sans-serif;

    float: right;

    padding-left: 50px;

    padding-top: 45px;
    
    margin: auto;

}

footer {
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 55px;
}
